* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EFF9F0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.navBar {
    height: 50px;
    width: 100%;
    background-color: #919191;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-bottom: #383838 2px solid;
}
a {
    text-decoration: none;
    color: black;
}
.home, .movies{
    color: #ffffff;
    font-size: 30px;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #424242;
    box-shadow: 5px 5px 5px #000000;
}
.home:hover, .movies:hover {
    box-shadow: 15px 15px 15px #000000;
    color: #000000
}
.home {
    margin-right: 30px;
}
.active {
    background-color: #b60000;
    border-color: #13070C;
}