.movieWrapper {
    margin: 0 100px;
    text-align: center;
}
.button {
    width: 100px;
    height: 30px;
    margin: 20px 0;
    background-color: #ff7e7e;
    border-radius: 10px;
    border: #000000 2px solid;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.button:hover {
    box-shadow: #000000 5px 5px 10px;
    font-weight: 700;
    color: #ffffff
}
.poster {
    margin: 0 ;
    max-width: 100%;
}
.title {
    margin: 20px 0;
    color: #13070C;
}
.votes, .overview, .genres {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 18px;
}
.subtitle {
    margin: 20px 0;
    color: #13070C;
}
.linkList {
    list-style: none;
}
.listItem {
    margin-bottom: 10px;
}
.link {
    margin-bottom: 10px;
}
.link:hover {
    color: #000000;
    font-weight: 700;
}